body {
  background: url(../img/grid.png) !important;
}
.overlay-bg {
  background: linear-gradient(to right, rgba(97, 6, 0, 0.9) 100%,rgba(176, 10, 0, 0.9) 100%,rgba(125, 185, 232, 0.9) 100%) !important;
}
.hero-slide .carousel-indicators li.active {
  border-color: #B00A00 !important;
  background-color: #B00A00 !important;
  opacity: 1;
}
.section-sub::after {
  background-color: #fff;
}

.readmore {
  color: #fff !important;

}

.navbar {
  box-shadow: none !important; 
}

.hero-slide .carousel-caption h1 {
  /*font-size: 40px !important;*/
}
.hero-slide .carousel-caption {
  border-radius: 5px;
  background-color: rgba(96,102,118, 0.3) !important;
  padding: 20px 26px;
}

.navbar-default .navbar-nav>li>a:hover, 
.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:hover, 
.navbar-default .navbar-nav>.active>a:focus {
  color: #fff;
  background-color: #B00A00;
}

.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:hover, 
.navbar-default .navbar-nav>.open>a:focus {
  color: #fff;
  background-color: #B00A00;
}

.nav.navbar-nav li ul.dropdown-menu li a:hover,
.nav.navbar-nav li ul.dropdown-menu li a:focus {
  color: #B00A00 !important;
  background-color: transparent;
}

.call-to-action ul li a:hover {
  color: #B00A00;
}

.btn-primary{
  background-color: #B00A00 !important;
}
.feature-section .btn:hover {
  background-color: #610600 !important;
}


.css-tab .nav-tabs > li > a:hover, .css-tab .nav-tabs > li > a:focus, .css-tab .nav-tabs > li.active > a, .css-tab .nav-tabs > li.active > a:hover, .css-tab .nav-tabs > li.active > a:focus {
  background: #B00A00 !important;
}

#testimonial-carousel .carousel-indicators .active {
  background-color: #B00A00 !important;
}

.newsletter-form .form-group button {
  color: #fff !important;
}

.widget .service-list li.active a {
    color: #B00A00 !important;
}
.widget li a:hover {
    color: #B00A00 !important;
}

.widget .download-wrap a:hover {
    border: 2px solid #B00A00 !important;
}

.copyright-info>span>a {
    color: #B00A00 !important;
}

#toTop {
  color: #B00A00;
}
#toTop:hover {

  background-color: #B00A00;
}

.newsletter-form .form-group .form-control:focus {
  border-color: #B00A00;
}

.service-blocks .service-block:hover .service-icon i {
    background: #B00A00 !important;
}
.service-blocks .service-block .service-content h3 a:hover {
    color: #B00A00 !important;
}

.footer-widget ul li a:hover {
    color: #B00A00 !important;
  }
/*.fa-caret-right {
  color: #B00A00 !important;
}*/


.feature-section2 h2 {
  color: #B00A00 !important;
}

.feature-section p {
  color: #000 !important;
}


h1, h2, h3, h4, h5, h6 {
  
  color: #fff;
}

p, address{
  color: #fff;
}

.section-sub {
  color: #fff !important;
}

.footer-widget ul li a {
  color: #fff;
}

.css-tab .nav-tabs>li>a i {
  color: #000 !important;
}

.navbar-default .navbar-nav>li>a {
  color: #000;
}

.hero-slide .carousel-caption small {
  color: #000 !important;
}

.widget li a {
  color: #000;
}

.service-blocks .service-block .service-content h3 a {
  color: #fff !important;
}

/*section.service-home.service-home2.section-padding {
  background: #B00A00 !important;
}*/

section.footer-widget-section.section-padding {
  padding: 100px 0;
  background: url(../img/counter-bg.jpg) no-repeat center top fixed;
  background-size: cover;
}

.history-section {
  background-color: #B00A00 !important;
}


.footer-section {
  padding: 100px 0;
  background: url(../img/counter-bg.jpg) no-repeat center top fixed;
  background-size: cover;
}

.mission-section {
  /*background: url(https://newevolutiondesigns.com/images/freebies/red-wallpaper-29.jpg) no-repeat center top fixed;*/
  background-size: cover;
}

.page-header {
  text-align: center;
  border-bottom: 1px solid white;
}

.breadcrumb a:hover {
  color: #000;
}